.dead-bug-card {
    width: 90%;
    margin: 20px auto 20px auto;
    border: solid black;
    border-radius: 5px;
    background-color: lightgreen;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    box-shadow: 5px 5px 5px black;
}