.my-bugs {
    width: 75%;
    height: 100vh;
    margin-top: 30px;
    float: left;
    text-align: center;
}

.my-bugs h1 {
    font-size: 30px;
}

.my-bugs h2 {
    font-size: 25px;
    color: lightgreen;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 50px;
}