.side-nav {
    background-color: #333;
    width: 20%;
    height: 110vh;
    text-align: center;
    border: solid #333;
    float: left;
    overflow: hidden;
    box-shadow: 5px 0px 5px black;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 60px;
}

li a{
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: lightgreen;
}